/* style.css */
@import url("./reset.css");
@import url("./variables.css");
@import url("./base.css");
@import url("./theme.css");

@import url("./header.css");
@import url("./nav.css");

@import url("./responsive.css");

@import url("./main.css");
@import url("./about.css");
@import url("./values.css");
