

/* ================= HEADER ================= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--header-height) + var(--padding-x));
  z-index: 1000;
  padding: 0 var(--padding-x);
}
/* HEADER CONTENT */
.header-container {
  position: relative;
  z-index: 2;
  top: var(--padding-x);
  max-width: calc(var(--max-width) - 2 * var(--padding-x));
  height: var(--header-height);
  margin: 0 auto;
  /* padding: var(--padding-x);
  padding-bottom: 0; */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding: 0 var(--padding-x);
  z-index: 5;
}

/* BRAND */
/* BRAND PHOTO з кастомною рамкою */

.brand {
  display: flex;
      align-items: center;
      gap: var(--padding-x);
}

.brand-photo {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-photo img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

/* Інвертуємо фонове зображення героя в темній темі */
[data-theme="dark"] .brand-photo img {
  filter: grayscale(100%) invert(1);
}

.brand-name {
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 2rem;

}

/* SVG рамка */
.avatar-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.avatar-frame svg {
  width: 100%;
  height: 100%;
}

.avatar-frame path {
  fill: var(--color-border);
  transition: fill var(--transition);
}

/* Анімація при наведенні */
.brand-photo:hover .avatar-frame {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .brand-photo {
    width: 70px;
    height: 70px;
  }
  
  .brand-photo img {
    width: 56px;
    height: 56px;
  }
}

@media (max-width: 480px) {
  .brand-photo {
    width: 64px;
    height: 64px;
  }
  
  .brand-photo img {
    width: 50px;
    height: 50px;
  }
}

/* NAV */
.nav {
  display: flex;
  gap: 18px;
}

